
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }


body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

body h1 {
    background-color: cornsilk;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Begin Nav Styling*/

button#hamburgerBtn {
    display: flex;
    background: none;
    border: none;
    color: #000;
    background-color: lightgreen;
    font-size: 2.0rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
    flex-direction: row;
}

nav {
    display: flex;
    background-color: lightgreen;
    justify-content: center;
}


nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
       
}

nav ul li {
    list-style-type: none;
    padding: 1rem;   
    width: 100vw;
    text-align: center;
}

.current {
    background-color: rgba(0,0,0,.50);
}

nav a {
    text-decoration: none;
    color: #000;
         
}

nav li:hover {
    background-color: rgba(0, 0, 0, .3);
}



nav ul.open {display: flex;}
nav ul {display: none;}

/* End Nav Styling */

#hero {
    max-width: 90%;
    margin: 5%;
}

#mediaFeed {     
    background-color: lightcoral;
    max-width: 90%;
    height: 25vh;
    margin: 5%;
    text-align: center;
}

#galleryBox {
    display: flex; 
    min-width: 90%;
    height: auto;
    flex-wrap: wrap;
    margin: 5% 
}

.galleryFrame {
    display: flex;
    width: 100%;
    padding: .4rem;
    height: auto;
    background-color: lightblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

}


footer {
    background-color: rgb(50, 150,0);
    color: #000;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #444;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: darkgreen;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }


    



/* Medium Screens */

@media screen and (min-width: 641px) {

button#hamburgerBtn {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: lightgreen;
    
}

nav ul li {
    width:25%;
}

nav ul li a {
    text-decoration: none;
}


#galleryBox {   
    max-width: 33%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    
            
}

.galleryFrame {
    max-width: 30%;
    height: auto;
    background-color: red;
}

}


/* Large Screens */

@media screen and (min-width: 1008px){

    #galleryBox {
        align-self: center;
    }

    .galleryFrame {
        max-width: 22%;
        background-color: yellow;
    }

}