
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

body h1 {
    background-color: cornsilk;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Begin Nav Styling*/

button#hamburgerBtn {
    display: flex;
    background: none;
    border: none;
    color: #000;
    background-color: lightgreen;
    font-size: 2.0rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
    flex-direction: row;
}

nav {
    display: flex;
    background-color: lightgreen;
    justify-content: center;
}


nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
       
}

nav ul li {
    list-style-type: none;
    padding: 1rem;   
   
    text-align: center;
}

.current {
    background-color: rgba(0,0,0,.50);
}

nav a {
    text-decoration: none;
    color: #000;
         
}

nav li:hover {
    background-color: rgba(0, 0, 0, .3);
}



nav ul.open {display: flex;}
nav ul {display: none;}

/* End Nav Styling */

#hero {
    max-width: 90%;
    margin: 5%;
}

#mediaFeed {     
    background-color: lightcoral;
    max-width: 90%;
    height: 25vh;
    margin: 5%;
    text-align: center;
}

#galleryBox {
    display: flex; 
    min-width: 90%;
    height: auto;
    flex-wrap: wrap;
    margin: 5% 
}

.galleryFrame {
    display: flex;
    width: 100%;
    padding: .4rem;
    height: auto;
    background-color: lightblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

}




footer {
    display: flex;
    margin-top: auto;
    flex-direction: row;
    justify-content: center;
    min-width: 100vw;
    min-height: 15vh;
    background-color: lightseagreen;
    
    margin: 0;
    padding: 0;
}


/* Medium Screens */

@media screen and (min-width: 641px) {

button#hamburgerBtn {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: lightgreen;
    
}

nav ul li a {
    text-decoration: none;
}


#galleryBox {   
    
    max-width: 33%;
    flex-direction: row;
    flex-wrap: wrap;
    
            
}

.galleryFrame {
    max-width: 30%;
    background-color: red;
}

}


/* Large Screens */

@media screen and (min-width: 1008px){

    #galleryBox {
        align-self: center;
    }

    .galleryFrame {
        max-width: 22%;
        background-color: yellow;
    }

}